
body {
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: 'Segoe UI', sans-serif;
}


.bg-gradient-primary {
    background: linear-gradient(to right, #007bff, #0056b3);
}


.navbar-nav .nav-link:hover {
    color: #ffea00 !important;
   
}


.navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}


.btn-link {
    color: #fff;
    text-decoration: none;
}

    .btn-link:hover {
        color: #ffc107;
       
    }
